notebook >= 5.0.0
ipywidgets
appmode
Flask >= 0.12
connexion >= 1.1.15
decorator >= 4.2.1
python_dateutil >= 2.6.0
setuptools >= 21.0.0
numpy >= 1.14.0
scipy >= 0.18.1
pandas >= 0.20.3
scikit-learn >= 0.18
traitlets >= 4.2
ipyupload >= 0.1.2
paramiko >= 2.5.0
matplotlib >= 3.1.1